App_WebReferences/ExorLive/UserService/UserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://api.exorlive.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="UserService" targetNamespace="http://api.exorlive.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://api.exorlive.com/services/UserService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.exorlive.com/Imports">
      <xsd:import schemaLocation="http://api.exorlive.com/services/UserService.svc?xsd=xsd0" namespace="http://api.exorlive.com" />
      <xsd:import schemaLocation="http://api.exorlive.com/services/UserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://api.exorlive.com/services/UserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExorLive.Api.Entities" />
      <xsd:import schemaLocation="http://api.exorlive.com/services/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExorLive.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="UserService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContact" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContactResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_AddIdentity_InputMessage">
    <wsdl:part name="parameters" element="tns:AddIdentity" />
  </wsdl:message>
  <wsdl:message name="UserService_AddIdentity_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddIdentityResponse" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://api.exorlive.com/UserService/Authenticate" message="tns:UserService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://api.exorlive.com/UserService/AuthenticateResponse" message="tns:UserService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://api.exorlive.com/UserService/CreateUser" message="tns:UserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://api.exorlive.com/UserService/CreateUserResponse" message="tns:UserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <wsdl:input wsaw:Action="http://api.exorlive.com/UserService/CreateContact" message="tns:UserService_CreateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://api.exorlive.com/UserService/CreateContactResponse" message="tns:UserService_CreateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddIdentity">
      <wsdl:input wsaw:Action="http://api.exorlive.com/UserService/AddIdentity" message="tns:UserService_AddIdentity_InputMessage" />
      <wsdl:output wsaw:Action="http://api.exorlive.com/UserService/AddIdentityResponse" message="tns:UserService_AddIdentity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="UserService">
    <wsdl:port name="WSHttpBinding_UserService" binding="i0:WSHttpBinding_UserService">
      <soap12:address location="http://api.exorlive.com/services/UserService.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://api.exorlive.com/services/UserService.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>