App_WebReferences/WSUserService/UserService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://api.exorlive.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="UserService2" targetNamespace="http://api.exorlive.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_UserService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://api.exorlive.com/Imports">
      <xsd:import schemaLocation="http://localhost:50002/services/UserService2.svc?xsd=xsd0" namespace="http://api.exorlive.com" />
      <xsd:import schemaLocation="http://localhost:50002/services/UserService2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50002/services/UserService2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExorLive.Api.Entities" />
      <xsd:import schemaLocation="http://localhost:50002/services/UserService2.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ExorLive.Api" />
      <xsd:import schemaLocation="http://localhost:50002/services/UserService2.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ExorLive.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UserService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="UserService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateContact" />
  </wsdl:message>
  <wsdl:message name="UserService_CreateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateContactResponse" />
  </wsdl:message>
  <wsdl:portType name="UserService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://api.exorlive.com/UserService/Authenticate" message="tns:UserService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://api.exorlive.com/UserService/AuthenticateResponse" message="tns:UserService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <wsdl:input wsaw:Action="http://api.exorlive.com/UserService/CreateContact" message="tns:UserService_CreateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://api.exorlive.com/UserService/CreateContactResponse" message="tns:UserService_CreateContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_UserService" type="tns:UserService">
    <wsp:PolicyReference URI="#WSHttpBinding_UserService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://api.exorlive.com/UserService/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap12:operation soapAction="http://api.exorlive.com/UserService/CreateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_UserService" type="tns:UserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://api.exorlive.com/UserService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateContact">
      <soap:operation soapAction="http://api.exorlive.com/UserService/CreateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService2">
    <wsdl:port name="WSHttpBinding_UserService" binding="tns:WSHttpBinding_UserService">
      <soap12:address location="https://localhost:50002/services/UserService2.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://localhost:50002/services/UserService2.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_UserService1" binding="tns:WSHttpBinding_UserService">
      <soap12:address location="http://localhost:50002/services/UserService2.svc/soap" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:50002/services/UserService2.svc/soap</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_UserService" binding="tns:BasicHttpBinding_UserService">
      <soap:address location="https://localhost:50002/services/UserService2.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_UserService1" binding="tns:BasicHttpBinding_UserService">
      <soap:address location="http://localhost:50002/services/UserService2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>